.header {
  height: 400px;
  width: cover;
  background-color: gray;
}

.left {
    margin-top: 40px;
    padding-left: 40px;
    text-align: left;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   padding-top: 70px;
   width: cover;
}

 div.gallery {
     margin: 5px;
     border: 1px solid #ccc;
     float: left;
     width: 180px;

 }

 div.gallery:hover {
     border: 1px solid #777;
 }

 div.gallery img {
     width: 100%;
     height: auto;
 }

 div.desc {
     padding: 15px;
     text-align: center;
 }

 .buffer {
    height: 100px;
 }