<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
    <link rel="icon" href="images/bread.png">
</head>
    <body>


            <header>
                <br>
                <br>
                <img src="images/logoSM.png">
                <br>
                <br>

                    <ul class="nav nav-pills">
                        <li><a  href="/"><img src="images/homebutton.png"></a></li>
                        <li><a  href="/buyers"><img src="images/buybutton.png"></a></li>
                        <li><a  href="/sellerportal"><img src="images/sellbutton.png"></a></li>
                        <li><a  href="/"><img src="images/box1.png"></a><div class="center"><b>Welcome {{this.name}} !</b></div></li>
                        <li><a  href="/"><img src="images/carticon.png"></a></li>
                    </ul>
            </header>
            {{#block "content"}}
            {{/block}}
    {{#block "footer"}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        </body>
</html>
{{/block}}