<!DOCTYPE html>
<html>
<head>

    <title>{{#block "title"}}BREAD BUYER{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<center>

<img src="">
<h1>UNDER CONSTRUCTION</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/buyers/new">Buy</a></li>
        <li role="presentation"><a href="/sellers/new">Sell</a></li>
        <li role="presentation"><a href="/cart">My Cart</a></li>
        <li role="presentation"><a href="/">Welcome {{ currentBuyer.name}}!</a></li>
    </ul>

<div class="container">


    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

</center>
{{#block "footer"}}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}