<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}BREAD BUYER{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
    <link rel="icon" href="images/bread.png">
</head>
<body>
<center>

<img src="">
<h1>UNDER CONSTRUCTION</h1>

<br>
<br>
<a class="btn btn-primary" href="/home" role="button">HOME</a>
<a class="btn btn-primary" href="/route/here" role="button">BUY</a>
<a class="btn btn-primary" href="/sellerportal" role="button">SELL</a>


<div class="container">


    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

</center>
{{#block "footer"}}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}