{{#partial "content"}}

    {{#if editSeller}}

        <h1>Edit your Seller Profile:</h1>

        <form action="/sellerportal/update" method="post">
            <select name="newSellerId" id="newSellerId">
                {{#each sellers}}
                    <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/each}}

            </select>
            <br>
            <label for="newName">Edit your seller name:</label>
            <input id="newName" name="newName" type="text" placeholder="new seller name">
            <br>
            <label for="newAddress">Edit Address:</label>
            <input id="newAddress" name="newAddress" type="text" placeholder="new address">
            <br>
            <label for="newEmail">Edit Email:</label>
            <input id="newEmail" name="newEmail" type="text" placeholder="new Email">
            <br>
            <label for="newDietaryPreference">Edit your products dietary preference:</label>
            <input id="newDietaryPreference" name="newDietaryPreference" type="text" placeholder="new dietary preferences">
            <br>
            <label for="newGoodsCategory">Edit product category:</label>
            <input id="newGoodsCategory" name="newGoodsCategory" type="text" placeholder="new goods category">
            <br>
            <button type="submit" class="btn btn-default">EDIT!</button>
        </form>

    {{else}}

        <h1>Add a new seller profile!</h1>
        <br>
        <form action="sellerportal/newseller" method="post">


            <label for="name">Seller name</label>
            <input id="name" name="name" type="text">
            <br>
            <label for="address">Address</label>
            <input id="address" name="address" type="text">
            <br>
            <label for="email">Email</label>
            <input id="email" name="email" type="text">
            <br>
            <label for="dietaryPreference">Dietary Preference of your products:</label>
            <input id="dietaryPreference" name="dietaryPreference" type="text">
            <br>
            <label for="goodsCategory">Category of your Products</label>
            <input id="goodsCategory" name="goodsCategory" type="text">
            <br>
            <button type="submit" class="btn btn-default">Go!</button>

    {{/if}}
        <br>


    </form>

{{/partial}}

{{> layout.hbs}}