{{#partial "content"}}

    <h2>Alright!!</h2>
    <hr>
    <br>
    <br>
    <img src="../images/bread2.png">
    <br>
    <a href="/sellerportal" class="btn btn-success index-btn">View Sellers</a>
{{/partial}}

{{>layout.hbs}}