15 lines (11 sloc)  267 Bytes

{{#partial "content"}}

    <h2>Alright!!</h2>
    <hr>
    <br>
    <br>
    <img src="../images/bread2.png">
    <br>
    <a href="/" class="btn btn-success index-btn">View Sellers</a>
{{/partial}}

{{>layout.hbs}}